/*	General		*/

body {
	margin: 0 auto;
	font-family: 'Ubuntu Mono', monospace;
	overflow: hidden;
}

#container {
	display: flex;
	height: 100vh;
}

#crono, #tasks, #options {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        height: 95vh;
}

i {
	cursor: pointer;
}

.lightTheme {
	background: Gainsboro;
	color: black;
}

.darkTheme {
	background: #262626;
	color: #e6e6e6;
}

.hide { visibility: hidden;}

.show { visibility: visible;}




/*	Crono		*/

#crono {
	justify-content: space-between;
}

#crono-results {
	display: flex;
	width: 65%;
	justify-content: flex-start;
	align-items: center;
	font-size: 3vh;
}

#crono-hours, #crono-minutes, #crono-seconds {
	font-size: 10vh;
	padding-left: 5%;
	padding-right: 5%;
}

#crono-icons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}




/*	Tasks		*/

#tasks {
	justify-content: start;
}

#text-tasks {
	width: 98%;
	padding: 1%;
	height: 75%;
	font-size: x-large;
	border: 1.5px solid;
	border-radius: 2px;
}




/*	Options		*/

#options {
	justify-content: space-around;
}

#options-clock, #options-countdown, #options-music, #options-contrast {
	display: flex;
	width: 100%; 
	align-items: center;
	justify-content: space-between;
}

#options-clock_icons, #options-music_icons, #options-contrast_icons {
	padding-right: 15%;
}

#options-countdown_icons {
	padding-right: 16%;
}

#options-countdown_timer, #options-clock_results {
	font-size: 4vh;
}

#options-countdown_controller {
	display: flex;
	flex-direction: column;
}

#options-clock_results, #up-countdown, #down-countdown {
	display: flex;
	justify-content: space-around;
	flex: 1;
}

 #up-countdown i, #down-countdown i {
	 font-size: 3vh;
 }

#options-clock_results, #crono-results h1, #timer-countdown {
	font-family: 'Digital-7', arial;
}

#options-countdown_functionality {
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	align-items: center;
}

#options-music_results {
	display: flex;
	justify-content: space-evenly;
	flex: 1;
	font-size: 1.5vh;
	padding-left: 4%;
}
