/*	General		*/

body {
	margin: 0 auto;
	font-family: 'Ubuntu Mono', monospace;
	overflow: hidden;
}

#container {
	display: flex;
	height: 100vh;
}

#crono, #tasks, #options {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        height: 95vh;
}

i {
	cursor: pointer;
}

.lightTheme {
	background: Gainsboro;
	color: black;
}

.darkTheme {
	background: #262626;
	color: #e6e6e6;
}

.hide { visibility: hidden;}

.show { visibility: visible;}




/*	Crono		*/

#crono {
	justify-content: space-between;
}

#crono-timer h1 {
	font-size: 10vh;
	font-family: 'Digital-7', arial;
}

#crono-items {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#crono-items i{
	padding-left: 2%;
	padding-right: 2%;
}




/*	Tasks		*/

#tasks {
	justify-content: start;
}

#tasks textarea {
	width: 98%;
	padding: 1%;
    height: 75%;
    font-size: x-large;
    border: 1.5px solid;
	border-radius: 2px;
}




/*	Options		*/

#options {
	justify-content: space-around;
}

#options-clock, #options-countdown, #options-music, #options-contrast {
	display: flex;
	width: 100%; 
	align-items: center;
	justify-content: space-between;
}

#options-icons_clock, #options-icons_countdown, #options-icons_music, #options-icons_contrast {
	padding-right: 15%;
}

#options-results_clock, #options-results_countdown {
	width: 50%;
	padding-left: 25%;
}

#options-results_clock, #options-results_countdown {
	font-family: 'Digital-7', arial;
}

#options-results_clock {
	font-size: 5vh;
}

#options-results_music {
	display: flex;
	justify-content: space-around;
	width: 60%;
	font-size: 1.5vh;
	padding-left: 5%;
}

#options-results_countdown {
	font-size: 4vh;
}

#up-countdown i, #down-countdown i {
	font-size: 3vh;
}
