/*	General		*/

body {
	margin: 0 auto;
	font-family: 'Ubuntu Mono', monospace;
	overflow: hidden;
}

#container {
	display: flex;
	height: 100vh;
}

#crono, #tasks, #options {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
}

i {
	cursor: pointer;
}

.lightTheme {
	background: Gainsboro;
	color: black;
}

.darkTheme {
	background: #262626;
	color: #e6e6e6;
}

.hide { visibility: hidden;}

.show { visibility: visible;}




/*	Crono		*/

#crono {
	height: 85vh;
	justify-content: space-between;
}

#crono-results {
	display: flex;
	width: 54%;
	justify-content: flex-start;
	align-items: center;
	font-size: 3vh;
}

#crono-hours, #crono-minutes, #crono-seconds, #crono-milliseconds {
	font-size: 7vh;
	padding-left: 4%;
	padding-right: 4%;
}

#crono-icons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}




/*	Tasks		*/

#tasks {
	justify-content: start;
}

#text-tasks {
	width: 98%;
	padding: 1%;
	height: 77%;
	font-size: x-large;
	border: 1.5px solid;
	border-radius: 2px;
}




/*	Options		*/

#options {
	height: 100vh;
	justify-content: space-around;
}

#options-clock, #options-music, #options-contrast {
	display: flex;
	width: 100%; 
	align-items: center;
	justify-content: space-between;
}


#options-clock_icons, #options-music_icons, #options-contrast_icons {
	padding-right: 15%;
}

#options-clock_results {
	display: flex;
	justify-content: flex-start;
	flex: 1;
	font-size: 5vh;
	font-weight: bolder;
	padding-left: 25%;
}

#options-clock_results, #crono-results {
	font-family: 'Digital-7', arial;
}

#options-music_results {
	display: flex;
	justify-content: space-evenly;
	flex: 1;
	font-size: 1.5vh;
	padding-left: 5%;
}
